@font-face {
  font-family: "Bely";
  src: url("../fonts/Bely-Display.ttf");
}

@font-face {
  font-family: "Cousine";
  src: url("../fonts/Cousine-Regular.ttf");
}

@font-face {
  font-family: "DidactGothic";
  src: url("../fonts/DidactGothic-Regular.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-VariableFont_wght.ttf");
}

@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova.ttf");
}

/** ---- BASIC ---- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "DidactGothic", sans-serif;
  font-size: 10px;
  background-color: whitesmoke;
}

a {
  color: black;
  text-decoration: none;
}

img {
  max-width: 100%;
}

h3 {
  font-family: "Bely";
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 80px;
  color: #303031;
}

h4 {
  font-family: "Bely";
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 64px;
  color: #303031;
}

h5 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 32px;
}

.pStandard {
  font-family: Helvetica;
  font-size: 1.8rem;
  font-weight: 200;
  line-height: 26px;
  letter-spacing: -2%;
  color: #303031;
}

.pInbox {
  font-family: "Cousine";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -2%;
}

.pInboxTop {
  font-family: "Cousine";
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -2%;
}

.btn1 {
  display: inline;

  width: 200px;
  background: #71a894;
  padding: 3% 0;
  border: 2px solid #71a894;
  border-radius: 10px;
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
  color: white;
}

/** --- Header ---*/

header {
  display: flex;
  justify-content: space-between;

  display: flex;

  padding: 2%;
}

header div {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 30px;
  width: 200px;
}

header div img {
  height: 100%;
}

header div h2 {
  font-family: sans-serif;
  font-size: 1.8rem;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 40%;
}

header nav a {
  font-family: "Helvetica";
  font-size: 1.6rem;
  color: #303031;
  text-decoration: none;
}

header nav a:nth-of-type(4) {
  color: #71a894;
}

/** ---- Main Hero ---- */

.hero {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  width: 100%;
  padding: 3% 0 0 0;
  overflow: hidden;
}

.hero article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 35vh;
  width: 50%;
  margin: -30px -90px 0 0;
}

.hero article p {
  font-size: 2.4rem;
  color: #66645e;
}

.hero img {
  width: 55%;
  margin-right: -20px;
}

/** ----- Main Section 1 ------ */

.mainS1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;

  height: 80vh;
  width: 100%;

  margin-bottom: 10%;
}

.mainS1 > div {
  padding: 3% 15%;
  text-align: center;
}

.mainS1 div h4 {
  margin-bottom: 3%;
}

.mainS1 .iconBox {
  display: flex;
  justify-content: space-between;

  margin: 0 auto;
  width: 95%;
}

.mainS1 .iconBox div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 2px solid white;
  border-radius: 10px;
  box-shadow: 0px 2px 8px gray;
  background: white;
  height: 35vh;
  width: 32%;
}

.mainS1 .iconBox img {
  width: 100px;
  margin-top: 30px;
}

.mainS1 .iconBox p {
  text-align: center;
}

/** ----- Main Section 2 ---- */

.mainS2 {
  width: 93%;
  display: flex;
  justify-content: space-between;

  margin: 0 auto 10% auto;
}

.mainS2 article {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.mainS2 article img {
  width: 100px;
}

.illu2 {
  width: 45%;
}

/** --- Main Section 3 --- */

.mainS3 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;

  height: 60vh;
  width: 100%;

  margin-bottom: 10%;
}

.mainS3 > div {
  padding: 3% 15%;
  text-align: center;
}

.mainS3 div h4 {
  margin-bottom: 3%;
}

.mainS3 div p {
  text-align: center;
}

.mainS3 .textBox {
  display: flex;
  justify-content: space-between;

  margin: 0 auto;
  width: 95%;
}

.mainS3 .textBox > div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 2px solid white;
  border-radius: 10px;
  box-shadow: 0px 2px 8px gray;
  background: white;
  height: 30vh;
  width: 32%;
}

.mainS3 .textBox div .pInboxTop {
  font-weight: 700;
}

.mainS3 .textBox div div {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: -15px;
  padding: 0 5%;
  width: 100%;
}

.btn2 {
  display: inline;

  width: 80px;
  background: #71a894;
  padding: 3% 0;
  border: 2px solid #71a894;
  border-radius: 25px;
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
  color: white;
}

.btn3 {
  display: inline;
  width: 150px;

  margin: 5% auto 10% auto;
  background: #303031;
  padding: 1.5% 0;
  border: 2px solid #303031;
  border-radius: 10px;
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
  color: white;
}

/** ----- Main Section 4 --- */

.mainS4 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10%;
}

.mainS4 article {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50%;
  padding-left: 3%;
}

/** --- Footer --- */

footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1% 5%;
}

footer h2 {
  width: 14%;
  font-size: 2.4rem;
  font-weight: 500;
}

footer ul {
  display: flex;
  justify-content: space-between;
  width: 35%;
  list-style: none;
}
footer ul li a {
  font-size: 2rem;
}

footer ul li:nth-of-type(4) a {
  color: #71a894;
}

/*  border: 2px solid red;   */
